.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    padding: 2px;
    border: 1px solid #ddd;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    border: none;
}

.rowEqual .input {
    color: green;
}
.rowDifferent .input {
    color: orange;
}
.rowEmpty .input {
    color: red;
}
